
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <span class ="pull-right"><span class= "glyphicon glyphicon-play"></span><%= link_to "Refresh",{:controller => "messages", :action => "create", :recepient_id => @receiver_id }, method: :post,  :class => " btn-success"%></span>
                </div>
                <div class="panel-body">
                    <%if @messages.present?%>
                      <%@messages.each do |message|%>
                          <ul class="chat">
                              <%if message.sender_id  != current_user.id %>
                                <li class="left clearfix"><span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/55C1E7/fff&amp;text=U" alt="User Avatar" class="img-circle">
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font"><%= User.find(message.sender_id).name%></strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span><%= message.created_at.to_time%></small>
                                        </div>
                                        <p><%= message.content%>
                                        </p>
                                    </div>
                                </li>
                              <% else %>
                                <li class="right clearfix"><span class="chat-img pull-right">
                                    <img src="http://placehold.it/50/FA6F57/fff&amp;text=ME" alt="User Avatar" class="img-circle">
                                    </span>
                                  <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span><%= message.created_at.to_time%></small>
                                        <strong class="pull-right primary-font"><%=current_user.name%></strong>
                                    </div>
                                    <p><%= message.content%>
                                    </p>
                                   </div>
                                </li>
                              <%end%>
                          </ul>
                       <%end%>
                    <%else%>
                    <p>No messages found</p>
                    <%end%>
                </div>
                <%= form_for @message do |f| %>
                <div class="panel-footer">
                    <div class="input-group">
                        <%= f.text_field :content, :class => "form-control input-sm", :placeholder => "Type your message here..."  %>
                        <%= hidden_field_tag :recepient_id , @receiver_id %>
                        <span class="input-group-btn">
                        <span class ="glyphicon glyphicon-send"></span>
                            <%= f.submit "Send", :class => "btn btn-warning btn-sm" %>
                        </span>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
